# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Static files for captures and recordings
static/captures/
static/recordings/

# New directories for calibration and testing
static/calibration_images/
static/uploads/
calibration_data/

#files
*.zip

# Generated data/inferences
static/line_call_inferences/

# Large video files in the static folder
static/*.mp4
static/*.mov
static/*.avi

*.pt

*.mp4